<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Analisado objeto request</h1>

    <h2>Envio de dados para rota "/form1"</h2>
    <p>Coletar dados via "form"</p>
    <form action="{{ url_for('form1') }}" method="POST">
        <input type="text" name="name">
        <input type="submit">
    </form>

    <hr>

    <h2>Envio de dados via GET para "form2"</h2>
    <form action="{{ url_for('form2') }}" method="GET">
        <select name="opcao">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="black">Black</option>
            <option value="yellow">Yello</option>            
        </select>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>